.buddy {
    margin-bottom: 1.2rem;
    width: 100%;
}

.buddy__content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    border: 1px solid var(--clr-blue60);
    border-radius: 6px;    
}

.buddy__content p {    
    position: relative;
    margin: 0;
    padding: .8rem;
}

.buddy__content p:nth-child(2) {
    border-top: 1px solid var(--clr-blue60);
}

.buddy__content svg {
    position: absolute;
    align-self: center;
}



