#q-graph {
  position: relative;
    display: block; /* fixes layout wonkiness in FF1.5 */
    width: 274px; 
    height: 12.5rem;
    padding: 0;
    background: transparent;
    font-size: 11px;
  }
  
  #q-graph tr, #q-graph th, #q-graph td { 
    position: absolute;
    bottom: 1.25rem; 
    width: 50px; 
    z-index: 2;
    margin: 0 0 0 0.75rem; 
    padding: 0;
    text-align: center;
  }
  
  #q-graph tr {
    height: 196px;
    padding-top: 2px;
    border-right: 0px solid #C4C4C4; 
    color: #AAA;
  }
  #q-graph #q1 {left: 0px;}
  #q-graph #q2 {left: 55px;}
  #q-graph #q3 {left: 110px;}
  #q-graph #q4 {left: 165px;}
  #q-graph #q5 {left: 220px;}
  #q-graph tbody th {bottom: -0.5rem; vertical-align: top;
  font-weight: normal; color: #333;}
  #q-graph .bar {
    width: 12px;
    border-bottom: none; 
    color: #000;
  }
  #q-graph .bar p {
    margin: 5px 0 0; 
    padding: 0;
    opacity: .4;
  }
  #q-graph .sent {
    left: 13px; 
    background-color: #FF5A36;
    border-color: transparent;
    border-radius: 10px 10px 0 0;
  }
  #q-graph .paid {
    left: 26px;
    background-color: #193251;
    border-color: transparent;
    border-radius: 10px 10px 0 0;
  }
  
  
  #ticks {
    top: -12.5rem;
    left: 1.25rem;
    width: 274px; 
    height: 200px; 
    z-index: 1;
    margin-bottom: -315px;
    font-size: 10px;
    position: relative;
  }
  
  #ticks .tick {
    position: relative; 
    border-bottom: 1px solid #C4C4C4; 
    width: 274px;
  }
  
  #ticks .tick:first-child {
    border-top: 1px solid #C4C4C4; 
  }
  
  #ticks .tick p {
    position: absolute; 
    left: -2.5em; 
    top: -0.8em; 
    margin: 0 0 0 0.5em;
  }