.energylevel__graph {
  width: 100%;
}

.energylevel__headline {
  margin-bottom: 1rem;
}

#q-graph {
  position: relative;
    display: block; /* fixes layout wonkiness in FF1.5 */
    width: 100%; 
    height: 12.5rem;
    padding: 0;
    background: transparent;
    font-size: 11px;
  }
  
  #q-graph tr, #q-graph th, #q-graph td { 
    position: absolute;
    bottom: 1.25rem; 
    width: 16%; 
    z-index: 2;
    margin: 0 0 0 0.75rem; 
    padding: 0;
    text-align: center;
  }
  
  #q-graph tr {
    height: 196px;
    padding-top: 2px;
    border-right: 0px solid #C4C4C4; 
    color: #AAA;
  }
  #q-graph #q1 {left: 0px;}
  #q-graph #q2 {left: 19%;}
  #q-graph #q3 {left: 38%;}
  #q-graph #q4 {left: 57%;}
  #q-graph #q5 {left: 76%;}
  #q-graph tbody th {
    bottom: -0.5rem; 
    vertical-align: top;
    font-weight: normal; 
    color: #333;
    left: 26%;
    margin-left: 3.25vw;
  }
  #q-graph .bar {
    width: 26%;
    border-bottom: none; 
    color: #000;
  }
  #q-graph .bar p {
    margin: 5px 0 0; 
    padding: 0;
    opacity: .4;
  }
  #q-graph .sent {
    left: 26%; 
    background-color: #FF5A36;
    border-color: transparent;
    border-radius: 100px 100px 0 0;
  }
  #q-graph .paid {
    left: 52%;
    background-color: #193251;
    border-color: transparent;
    border-radius: 100px 100px 0 0;
  }
  
  
  #ticks {
    top: -12.5rem;
    left: 0;
    width: 100%; 
    height: 200px; 
    z-index: 1;
    margin-bottom: -315px;
    font-size: 10px;
    position: relative;
  }
  
  #ticks .tick {
    position: relative;
    border-bottom: 1px solid #C4C4C4; 
    width: 100%;
    left: 1.5rem;
    margin-left: 0.5rem;
  }
  
  #ticks .tick:first-child {
    border-top: 1px solid #C4C4C4; 
  }
  
  #ticks p {
    margin: 0;
    position: absolute;
    top: -0.35rem;
    left: -2rem;
  }

  .blend-box {
    position: absolute;
    height: 100%;
    width: 8%;
    background: #fff;
    right: 0;
    left: 92%;
    z-index: 3;

  }