/* header {
    width: 100%;
    height: auto;
    background: var(--clr-blue40);
    text-align: center;
    position: relative;  
} */

header {
    background: var(--clr-blue40);
    width: 100%;
    padding:1em 0 0 0;
    text-align: center;
  }
  
  svg {
    margin-bottom:-5px;
  }


