.journal {
    width: 100%;    
}

.journal__entry {
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 2px 11px 0 var(--bs-blue);
    border-radius: 6px;
    border: none;
    margin-bottom: 1rem;
}

.journal__starcontainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 1.5rem;
    width: 314px;
}

.journal__starcontainer svg {
    margin-right: 1rem;
}

.journal__rectanglecontainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    gap: .5rem;
    margin-bottom: 1.5rem;
}

.journal__buttoncontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1.25rem;
    margin-top: 1.9rem;
}


.journal__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 12.5rem;
    height: 3rem;
    background-color: var(--clr-orange100);
    font-size: var(--fs-16);
    color: var( --clr-blue40);
    border-radius: 5px;
    box-shadow: 0 4px 10px var(--bs-orange);
    border: none;
    text-decoration: none;

}