:root {
    --fw-bold: 700;
    --fw-semibold: 600;
    --fw-regular: 400;

    --fs-16: 1rem;
    --fs-14: 0.875rem;
    --fs-12: 0.75rem;

    --clr-orange100: #FF5A36;
    --clr-orange80: #FF9C86;
    --clr-orange60: #FFBDAF;
    --clr-orange40: #FFDED7;
    
    --clr-blue100: #193251;
    --clr-blue80: #7589A2;
    --clr-blue60: #E0E4E8;
    --clr-blue40: #F8F8F8;

    --bs-blue: rgba(25,50,81,0.2);
    --bs-orange: rgba(255,90,54,0.4);

    --ff-sans: "Open Sans";

}

*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--ff-sans);
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}



ul, ol , li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1 {
    color: var(--clr-blue100);
    font-size: var(--fs-16);   
    font-weight: var(--fw-bold);
    text-transform: uppercase;
}

h2 {
    color: var(--clr-blue100);
    font-size: var(--fs-14);
    font-weight: var(--fw-semibold);
}

h3 {
    color: var(--clr-blue80);
    font-size: var(--fs-12);
    font-weight: var(--fw-regular);
}

.name {
    color: var(--clr-blue80);
    font-size: var(--fs-16);
    font-weight: var(--fw-semibold);
}

.copy {
    color: var(--clr-blue100);
    font-size: var(--fs-14);
    font-weight: var(--fw-regular);
}

.quote {
    color: var(--clr-blue100);
    font-size: var(--fs-16);
    font-weight: var(--fw-semibold);
}

.wrap {
    width: 84%;
}


